.main-div{
    margin-left: 100px;
    margin-top: 50px;
    border: 2px solie black;
    margin-bottom: 30px;
    border-radius: 20px;
    

    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div img{
    width: 50%;
    height: 70%;
    border-radius: 50%;
    z-index: 1;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes  floating{
    0% {
        transform: translate(0,px);
    }
    50% { 
        transform: translate(0,10px);
    }
    100% {
        transform: translate(0,-10px)
    }
}
/*aboout cont*/
.about-contant{
    text-align: center;
    flex-direction: column;
}
.about-contant h1{
    color: rgb(186, 180, 180);
    font-family: cursive;
    display: inline;
    border-bottom: 2px solid black;
}
.about-contant h2{
    color: rgb(246, 169, 74);
}
.about-contant p{
    line-height: 2rem;
    text-align: justify;
    padding: 30px 30px;
}



/******************** mobail responsiv****************/

@media(max-width:600px){
    .main-div{
        /* margin-left: -50px; */

       padding-left: 0px;
       margin: 35px 35px;
    }
    
    
}
