.home-container{
    color: white;
    /* background-color: rgb(178, 143, 143); */
    height: 300px;
    /* margin-left: 150px; */
    padding-left: 120px;
    background-color: black;
}
.home-content-div {
        margin-left: 150px;
        padding-top: 35px;
}
.home-contant h4{
    padding-top: 30px ;
    /* margin-left: 150px; */

}
.home-contant h2{
    color: yellow;
    /* margin-left: 10px; */
    /* margin-left: 150px; */

}

/* button*/
.home-buttons{
    margin-left: 30px;
    margin-top: 30px;
    /* margin-left: 150px; */

}
.home-buttons .btn-hire{
    background-color: rgb(196, 196, 235);
    padding: 10px;
    letter-spacing: 2px;

}
.home-buttons .btn-hire:hover{
    background-color: rgb(4, 4, 119);
    padding: 10px;
    transition: 1s;
}
.home-buttons .btn-cv{
    background-color: burlywood;
    margin-left: 50px;
    padding: 10px;
}
.home-buttons .btn-cv:hover{
    background-color: rgb(211, 123, 6);
    padding: 10px;
    transition: 1s;
}

/* theme icon div*/
.theme-icon-div{
    width: 50px;
    height: 50px;
    background-color: rgb(107, 107, 110);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

/*****************responsive home page***************/

@media(max-width:600px){
    .home-container{
        display: flex;
        justify-content: start;
        align-items: center;
        /* margin-left: -100px; */

    }
    .home-content-div {
        margin-left: 0px;
    }
    .home-content-div h4 {
        font-size: 25px;
    }
    .home-content-div h2 {
        font-size: 30px;
    }
}